@import "tailwindcss";

:root {
  color-scheme: light;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: #f8fafc;
  color: #0f172a;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #bae6fd;
  color: #0f172a;
}

button{
    cursor: pointer;
}

body {
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important;  /* IE 10+ */
}

body::-webkit-scrollbar {
  display: none!important;  /* Chrome, Safari, Edge */
}